<div class="row">
  <div class="col-sm-offset-1 col-sm-11">
    <fieldset class="border-top">
      <legend>
        <h2>
          {{combo.selected.section.number}}.{{view.question.number}}.&nbsp;{{view.question.title}}<small>.&nbsp;{{view.question.description}}</small>
          <div class="btn-group pull-right">
            <button data-ng-if="view.question.id && !view.isEditing" data-ng-click="edit()" type="button" class="btn btn-default btn-lg" tooltip-placement="bottom" uib-tooltip="Editar"><i class="fa fa-pencil"></i></button>
            <button data-ng-if="view.question.id" data-ng-click="remove()" type="button" class="btn btn-default btn-lg" tooltip-placement="bottom" uib-tooltip="Eliminar"><i class="fa fa-trash"></i></button>
            <button data-ng-if="!view.question.id" data-ng-click="close()" type="button" class="btn btn-default btn-lg" tooltip-placement="bottom" uib-tooltip="Cerrar"><i class="fa fa-close"></i></button>
          </div>
        </h2>
      </legend>

      <div data-ng-if="!view.isEditing" class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-3">
            <input data-ng-if="view.question.type === 'SHORT'" type="text" class="form-control" disabled/>
            <textarea data-ng-if="view.question.type === 'LARGE'" class="form-control" disabled></textarea>
          </div>
        </div>
      </div>

      <form data-ng-if="view.isEditing || !view.question.id" name="form" class="form-horizontal" novalidate>
        <div class="form-group" data-ng-class="{ 'has-error' : form.section.$invalid && form.$submitted }">
          <label class="col-sm-2 control-label"><span class="required">*</span> Seccion:</label>
          <div class="col-sm-4">
            <select name="section" class="form-control" data-ng-model="combo.selected.section" data-ng-options="item as item.title for item in combo.section" pf-focused="true" autofocus required>
              <option></option>
            </select>
            <div data-ng-messages="form.section.$error" data-ng-if="form.section.$submitted">
              <div class="has-error" data-ng-message="required">Seleccione seccion.</div>
            </div>
          </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error' : form.number.$invalid && form.$submitted }">
          <label class="col-sm-2 control-label"><span class="required">*</span> Numero:</label>
          <div class="col-sm-3">
            <input type="text" name="number" data-ng-model="view.question.number" ui-number-mask="0" class="form-control" required/>
            <div data-ng-messages="form.number.$error" data-ng-if="form.number.$submitted">
              <div class="has-error" data-ng-message="required">Ingrese numero.</div>
            </div>
          </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error' : form.title.$invalid && form.$submitted }">
          <label class="col-sm-2 control-label"><span class="required">*</span> Titulo:</label>
          <div class="col-sm-4">
            <input name="title" type="text" data-ng-model="view.question.title" data-ng-minlength="1" data-ng-maxlength="200" class="form-control" required/>
            <div data-ng-messages="form.title.$error" data-ng-if="form.title.$submitted">
              <div class="has-error" data-ng-message="required">Ingrese titulo.</div>
              <div class="has-error" data-ng-message="minlength">Ingrese titulo.</div>
              <div class="has-error" data-ng-message="maxlength">Maximo 200 caracteres.</div>
            </div>
          </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error' : form.description.$invalid && form.$submitted }">
          <label class="col-sm-2 control-label">Descripcion:</label>
          <div class="col-sm-3">
            <textarea name="description" data-ng-model="view.question.description" data-ng-maxlength="200" class="form-control"></textarea>
            <div data-ng-messages="form.description.$error" data-ng-if="form.description.$submitted">
              <div class="has-error" data-ng-message="required">Ingrese Descripcion.</div>
              <div class="has-error" data-ng-message="maxlength">Maximo 200 caracteres.</div>
            </div>
          </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error' : form.type.$invalid && form.$submitted }">
          <label class="col-sm-2 control-label"><span class="required">*</span> Tipo:</label>
          <div class="col-sm-3">
            <select class="form-control" data-ng-model="combo.selected.type" data-ng-options="item as item.name for item in combo.type" required>
            </select>
            <div data-ng-messages="form.type.$error" data-ng-if="form.type.$submitted">
              <div class="has-error" data-ng-message="required">Seleccione tipo.</div>
            </div>
          </div>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error' : form.required.$invalid && form.$submitted }">
          <label class="col-sm-2 control-label">Pregunta obligatoria:</label>
          <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="view.question.required"> Seleccione
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button sg-save ng-disabled="working">
              <span ng-show="working">Guardando...</span>
              <span ng-hide="working">Guardar</span>
            </button>
            <button data-ng-if="view.isEditing" type="button" class="btn btn-default" data-ng-click="cancel()">Cancelar</button>
          </div>
        </div>
      </form>

    </fieldset>
  </div>
</div>
