<div class="form-horizontal">
  <div class="form-group" data-ng-class="{ 'has-error' : (form.date.$invalid || form.time.$invalid) && form.$submitted }">
    <div data-ng-show="type === 'DATE' || type === 'DATETIME' " class="col-sm-3">
      <div class="input-group" style="margin-top: 45px;">
        <input type="text" name="date" data-ng-model="date" class="form-control" uib-datepicker-popup="dd/MM/yyyy" data-ng-required="isRequired" />
        <span class="input-group-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button></span>
      </div>
    </div>
    <div data-ng-show="type === 'TIME' || type === 'DATETIME' " class="col-sm-3">
      <uib-timepicker name="time" data-ng-model="time" hour-step="1" minute-step="1"></uib-timepicker>
    </div>
  </div>
</div>
