<div class="row">
  <div ng-class="{'col-sm-offset-1 col-sm-10': !isEditing, 'col-sm-12': isEditing}">
    <fieldset class="border-top">
      <legend>
        <h4>
          {{question.number}}.&nbsp;{{question.title}}
          <span data-ng-if="question.required" class="required">&nbsp;*</span>
          <small>.&nbsp;{{question.description}}</small>
        </h4>
      </legend>
      <div>
        <sc-answer-text data-ng-if="question.question === 'TEXT'" data-ng-model="answer.stringValue" type="question.type" is-required="question.required" is-active="isActive">
        </sc-answer-text>
        <sc-answer-number data-ng-if="question.question === 'NUMBER'" data-ng-model="answer.numberValue" type="question.type" is-required="question.required" is-active="isActive">
        </sc-answer-number>
        <sc-answer-datetime data-ng-if="question.question === 'DATETIME'" data-ng-model="answer.dateValue" type="question.type" is-required="question.required" is-active="isActive">
        </sc-answer-datetime>

        <sc-answer-select data-ng-if="question.question === 'SELECT'" data-ng-model="answer.listValues" type="question.type" options="question.selectOptions" is-required="question.required" is-active="isActive">
        </sc-answer-select>
        <pre data-ng-show="question.question === 'SELECT'"> {{answer.listValues}}</pre>

        <!--
        <sc-answer-select data-ng-if="question.question === 'SCALE'" data-ng-model="answer.integerValue" type="question.type" is-required="question.required" is-active="isActive">
        </sc-answer-select>
        <sc-answer-datagrid data-ng-if="question.question === 'GRID'" data-ng-model="answer.mapValues" type="question.type" is-required="question.required" is-active="isActive">
        </sc-answer-datagrid>-->
      </div>
    </fieldset>
  </div>
</div>
