<div class="form-group">
  <div class="col-sm-10">
    <sc-answer-select-multiple data-ng-show="type === 'MULTIPLE' " data-ng-model="selected[0]" options="options"></sc-answer-select-multiple>
    <sc-answer-select-verification data-ng-show="type === 'VERIFICATION' " data-ng-model="selected" options="options"></sc-answer-select-verification>
    <sc-answer-select-dropdown data-ng-show="type === 'DROPDOWN' " data-ng-model="selected[0]" options="options"></sc-answer-select-dropdown>
  </div>
</div>
