<div class="form-group">
  <div class="col-sm-10">
    <ul class="list-unstyled">
      <li data-ng-repeat="item in options | orderBy: 'number' | filter: {editable: false}">
        <div class="input-group" style="padding: 5px;">
          <span class="input-group-addon" style="background-color: white; border: 0; text-align: left;">
            <input type="checkbox" checklist-model="$parent.selected" checklist-value="item.denomination" name="value" value="{{item.denomination}}">
            &nbsp;{{item.denomination}}
          </span>
        </div>
      </li>
      <li data-ng-repeat="item in options | orderBy: 'number' | filter: {editable: true}">
        <div class="input-group" style="padding: 5px;">
          <table style="margin-top: 0;">
            <tr>
              <td>Otro:&nbsp;</td>
              <td>
                <input type="text" data-ng-model="$parent.selected[$index]" class="form-control" placeholder="Respuesta">
              </td>
            </tr>
          </table>
        </div>
      </li>
    </ul>
  </div>
</div>
