<div class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-11">
      <table cellpadding="5">
        <tr>
          <td>&nbsp;</td>
          <td data-ng-repeat="n in range(min, max)">{{n}}</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="padding-right: 10px;">{{tag1}}</td>
          <td data-ng-repeat="n in range(min, max)" style="padding-right: 10px;" style="padding-right: 10px;">
            <input type="radio" data-ng-model="$parent.answer" name="value" value="{{n}}">
          </td>
          <td style="padding-right: 10px;">{{tag2}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
