<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-brand">
        <i class="fa fa-building"></i>
      </div>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li>
          <a href="" data-ng-click="setOperation('section')">Seccion</a>
        </li>
        <li>
          <a href="" data-ng-click="setOperation('question', 'text')">Texto</a>
        </li>
        <li>
          <a href="" data-ng-click="setOperation('question', 'number')">Numero</a>
        </li>
        <li>
          <a href="" data-ng-click="setOperation('question', 'datetime')">Fecha</a>
        </li>
        <li>
          <a href="" data-ng-click="setOperation('question', 'select')">Seleccion</a>
        </li>
        <li>
          <a href="" data-ng-click="setOperation('question', 'grid')">Tabla</a>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div data-ng-if="typeObject === 'section'" >
  <sc-section sc-form-model="view.form" on-saved="sectionCreated" on-removed="sectionRemoved($index)" on-closed="closeOperation()"></sc-section>
</div>
<div data-ng-if="typeObject === 'question'">
  <sc-text-question question-type="subType" sc-form-model="view.form" on-saved="loadSections()" on-removed="loadSections()" on-closed="closeOperation()"></sc-text-question>
</div>

<div data-ng-if="sections.length">
  <h1>Pre visualizacion</h1>

  <sc-section data-ng-repeat="item in sections" subType="item.question" sc-form-model="view.form" sc-section-model="item" on-removed="sectionRemoved($index)">
  </sc-section>

</div>
