<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top">
          <legend><span class="text">Datos principales</span></legend>
          <div class="row">
            <div class="col-sm-12">
              <dl class="dl-horizontal left">
                <dt>Titulo:</dt>
                <dd data-ng-bind="view.form.title"></dd>
                <dt>Descripcion:</dt>
                <dd data-ng-bind="view.form.description"></dd>
              </dl>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

  </div>
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top">
          <legend><span class="text">Datos adicionales</span></legend>
          <dl class="dl-horizontal left">

          </dl>
        </fieldset>
      </div>
    </div>
  </div>
</div>
