<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th colspan="5">
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input type="text" data-ng-model="filterOptions.filterText" ui-keypress="{13:'search($event)'}" class="form-control" placeholder="Buscar..." pf-focused="true" autofocus>
            <span class="input-group-btn">
              <button class="btn btn-default" data-ng-click="search()" type="button"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </th>
  </tr>
  <tr>
  <tr data-ng-show="gridOptions.data.length > 0">
    <th class="w-30">Encuesta</th>
    <th>Nota</th>
    <th class="w-15">Fecha</th>
    <th class="w-15">Valido</th>
    <th>Acciones</th>
  </tr>
  </tr>
  </thead>
  <tfoot data-ng-show="gridOptions.data.length > 0">
  <tr>
    <td colspan="5">
      <uib-pagination boundary-links="true" total-items="gridOptions.totalItems" ng-model="paginationOptions.page" ng-change="search()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" style="margin: 5px; float: right;"></uib-pagination>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <tr ng-repeat="item in gridOptions.data">
    <td class="clip">{{item.form.title}}</td>
    <td class="clip">{{item.note || 'Guardado sin concluir'}}</td>
    <td class="clip">{{item.date | date: 'dd/MM/yyyy'}}</td>
    <td class="clip">{{item.valid | si_no: 'SI'}}</td>
    <td class="kc-action-cell">
      <button class="btn btn-default btn-block btn-sm" data-ng-click="gridActions.answer(item)">Responder</button>
    </td>
  </tr>
  <tr data-ng-show="gridOptions.data.length == 0">
    <td class="text-muted">No existen resultados que mostrar.</td>
  </tr>
  </tbody>
</table>
