<div>
  <ul class="list-unstyled">
    <li data-ng-repeat="item in elements">
      <div class="input-group" style="padding: 5px;">
        <div class="input-group-addon" style="background-color: white; border: 0;"><i class="fa fa-ellipsis-v"></i>&nbsp;<i class="fa fa-ellipsis-v"></i></div>
        <span data-ng-if="type === 'dropdown'" class="input-group-addon" style="background-color: white; border: 0;">{{$index + 1}}.</span>
        <span data-ng-if="type === 'multiple'" class="input-group-addon" style="background-color: white; border: 0;"><input type="radio" disabled></span>
        <span data-ng-if="type === 'verification'" class="input-group-addon" style="background-color: white; border: 0;"><input type="checkbox" disabled></span>

        <input data-ng-if="!item.editable" type="text" data-ng-model="item.denomination" class="form-control" required>
        <table data-ng-if="item.editable">
          <tr>
            <td>&nbsp;{{item.denomination}}:&nbsp;</td>
            <td><input type="text" class="form-control" placeholder="Respuesta" disabled required></td>
          </tr>
        </table>

        <span class="input-group-btn">
          <button type="button" data-ng-click="removeElement($index)" class="close">&nbsp;<i class="pficon pficon-close"></i></button>
        </span>
      </div>
    </li>
  </ul>
  <button type="button" data-ng-click="addElement()" class="btn btn-link" ng-disabled="disabled">Anadir</button>
  <button type="button" data-ng-if="type !== 'dropdown'" data-ng-click="addEditableElement()" class="btn btn-link">Anadir Otro</button>
</div>


