<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-brand">
        <i class="fa fa-building"></i>
      </div>

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

        <li>
          <a href="" data-ng-click="setOperation('section')">Seccion <span class="sr-only">(current)</span></a>
        </li>

        <li class="dropdown" uib-dropdown>
          <a href="" class="dropdown-toggle" uib-dropdown-toggle>
            Texto <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="">Respuesta corta</a></li>
            <li role="menuitem"><a href="">Respuesta larga</a></li>
          </ul>
        </li>

        <li class="dropdown" uib-dropdown>
          <a href="" class="dropdown-toggle" uib-dropdown-toggle>
            Numero <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="">Entero</a></li>
            <li role="menuitem"><a href="">Decimal</a></li>
          </ul>
        </li>

        <li class="dropdown" uib-dropdown>
          <a href="" class="dropdown-toggle" uib-dropdown-toggle>
            Fecha <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="">Solo fecha</a></li>
            <li role="menuitem"><a href="">Solo hora</a></li>
            <li role="menuitem"><a href="">Fecha y hora</a></li>
          </ul>
        </li>

        <li class="dropdown" uib-dropdown>
          <a href="" class="dropdown-toggle" uib-dropdown-toggle>
            Selecction <span class="caret"></span>
          </a>
          <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="">Simple</a></li>
            <li role="menuitem"><a href="">Multiple</a></li>
          </ul>
        </li>

        <li><a href="">Tabla <span class="sr-only">(current)</span></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div data-ng-if="operation === 'section'" >
  <sc-section form-model="view.form" on-close="resetOperation()" on-transaction="onSectionChanged()"></sc-section>
</div>
<div data-ng-if="operation === 'textQuestion'">
  <sc-text-question close="resetOperation()"></sc-text-question>
</div>

<div data-ng-if="sections.length">
  <h1>Pre visualizacion</h1>
  <sc-section data-ng-repeat="item in sections" form-model="view.form" section-model="item" on-transaction="onSectionChanged()"></sc-section>
</div>
