<div ncy-breadcrumb></div>

<h1>
  <strong>Editar encuesta</strong>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div>

      <div class="tab-container">
        <ul class="nav nav-tabs">
          <li ui-sref-active="active">
            <a href ui-sref=".summary">
              Resumen
            </a>
          </li>
          <li ui-sref-active="active">
            <a href ui-sref=".builder">
              Editor
            </a>
          </li>
        </ul>
        <div class="tab-pane">
          <br/>
          <div ui-view></div>
        </div>
      </div>

    </div>
  </div>
</div>
