<h1>Encuestas</h1>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th colspan="8">
      <div class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input type="text" data-ng-model="query.search" class="form-control" placeholder="Buscar..." pf-focused="true" autofocus>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search" data-ng-click="firstPage()"></i></button>
            </span>
          </div>
        </div>
        <div class="pull-right">
          <a class="btn btn-default" href="" ui-sref=".crear">Nuevo</a>
        </div>
      </div>
    </th>
  </tr>
  <tr>
  <tr data-ng-show="encuestas.length > 0">
    <th class="w-15">Nombre</th>
    <th class="w-15">Titulo</th>
    <th colspan="3">Acciones</th>
  </tr>
  </tr>
  </thead>
  <tfoot data-ng-show="encuestas && (encuestas.length >= query.max || query.first > 0)">
  <tr>
    <td colspan="7">
      <div class="table-nav">
        <button data-ng-click="firstPage()" class="first" ng-disabled="query.first == 0">first-page</button>
        <button data-ng-click="previousPage()" class="prev" ng-disabled="query.first == 0">previous-page</button>
        <button data-ng-click="nextPage()" class="next" ng-disabled="users.length < query.max">next-page</button>
      </div>
    </td>
  </tr>
  </tfoot>
  <tbody>
  <tr ng-repeat="item in encuestas">
    <td class="clip">{{item.name}}</td>
    <td class="clip">{{item.title}}</td>
    <td class="kc-action-cell">
      <button class="btn btn-default btn-block btn-sm" data-ng-click="editEncuesta(user)">Editar</button>
    </td>
    <td class="kc-action-cell">
      <button class="btn btn-default btn-block btn-sm" data-ng-click="removeEncuesta(user)">Eliminar</button>
    </td>
  </tr>
  <tr data-ng-show="!encuestas || encuestas.length == 0">
    <td class="text-muted" data-ng-show="encuestas.length == 0">No existen resultados que mostrar</td>
  </tr>
  </tbody>
</table>
